.herobox{
    padding: 0;
    margin-left: 250px;
    max-width: calc(100vw - 265px);
}

.pathSegment {
    display: inline-block;
    
    background-color: #235477;

    padding-left: 20px;
    margin-left: -4px;
    margin-top: 0;

    font-size: 12pt;
    line-height: 32px;
    
    cursor: pointer;
}

.pathSegment::after {
    width: 0;
    height: 0;

    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 10px solid #235477;
    
    content: ' ';
    display: inline-block;

    float: right;
    position: relative;

    left: 10px;
}

.pathSegment:hover { background-color: #5EA8DE; }
.pathSegment:hover::after { border-left-color: #5EA8DE; }

.fileManagerEntry {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px;
    padding-left: 8px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    
    display: flex;
    align-items: center;
    gap: 16px;
}

.fileManagerEntry:hover {background-color: #335169; }

.fileEntryIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.fileEntryInfo {
    display: flex;
    flex-direction: column;
}

.fileManagerEntry .fileEntrySubtitle {
    font-size: 10pt;
    color: #bbbbbb;
}