main{
    border: solid blue 1px;
    padding: 20px;
    width: 700px;

    padding-bottom: 40px;
}

h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    border: solid blue 3px;
}